<div>
    <!-- {{expr}} - interpolation, data binding -->
    <h1 appHighlight>{{appTitle}}</h1>
    <app-header>
    </app-header>
  

    <!-- step 3: router view container, home/about/contact html placed -->

    <router-outlet>
    </router-outlet>


    <!-- pass data to child component -->
    <app-footer [company]="appTitle | uppercase"
                year="2018"
                [address]="address" 

                (contactEvent)="contactHandler($event)"

                >

    </app-footer>
</div>